apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# Reference base configuration
resources:
  - ../../base

# Cluster-specific labels
labels:
- includeSelectors: false
  includeTemplates: true
  pairs:
    cluster: flink-demo
