apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources: []
# Add infrastructure applications here as they are created
# Examples:
# - traefik.yaml
# - kube-prometheus-stack.yaml
# - cert-manager.yaml
# - vault.yaml
