apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources: []
# Add workload applications here as they are created
# Examples:
# - namespaces.yaml
# - cfk-operator.yaml
# - confluent-resources.yaml
# - flink-kubernetes-operator.yaml
