---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: vault-config
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  annotations:
    argocd.argoproj.io/sync-wave: "50"
spec:
  project: infrastructure
  source:
    repoURL: https://github.com/osowski/confluent-platform-gitops.git
    targetRevision: v0.4.0
    path: infrastructure/vault-config/overlays/flink-demo
  destination:
    server: https://kubernetes.default.svc
    namespace: vault
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
